$primary-colour: #2e3440;
$tomato-highlight: lighten($primary-colour, 3);
$tomato-green: #8fbcbb;
$tomato-green-highlight: #88c0d0;
$secondary-colour: #333;
$clock-font-colour: #eeffee;
$break-counter: #bf616a;