@media screen and (max-width:500px){

    main {
        height: 100%;
        width: 100%;
    }

    .pomodoro-container {
        padding-top: 4vh;
        width: 100%;
    }

    .pomodoro-clock {
        padding: 1rem;
        height: 90vh;
        grid-template-areas: 
            "tomato tomato"
            "task task"
            "clockface clockface"
            "lcontrols rcontrols"
            "buttons buttons"
            "break_counter break_counter";
            grid-template-rows: 1.5fr 0.5fr repeat(3,1fr);
            grid-template-columns: repeat(2, 1fr);
            gap: 0;
    }

    .pomodoro-actions .btn {
        width: 150px;
        height: 70px;
        font-size: 1.25rem;
    }

    .controls {
        text-align: center;
        
        span{
            font-size: 1.5rem;
        }
    }

    .right-controls {
        padding-left: 2rem;
    }

    .left-controls {
        padding-right: 2rem;
    }

    .source {
        top: 0;
        right: 0;
        z-index: 2;
    }

}