@import 'config';

//Reset CSS
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    position: relative;
    background: $primary-colour;
}

.source {
    padding: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.5rem;
    z-index: 3;
    
    a {
        font-variant: small-caps;
        color: #fff;
        text-decoration: none;

        &:hover {
            color: lightgreen;
        }
    }
}

main {
    height: 100vh;
    position: relative;
}

h1 {
    text-align: center;
}



.pomodoro-container {
    padding-top: 5rem;
    position: relative;
    margin: auto auto;
    min-height: 50vh;
    width: 50vw;
}

.tomato {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: tomato;

    h1, svg {
        position: absolute;
        
    }

    h1 {
        z-index: 1;
        font-size: 3rem;
    }

    svg {
        width: 200px;
        height: 200px;
        transform: translateY(-1rem);
    }
}

.pomodoro-clock {
    height: 100%;
    display: grid;
    gap: 30px;
    grid-template-areas: 
        "tomato tomato tomato"
        "task task task"
        "lcontrols clockface rcontrols"
        "lcontrols buttons rcontrols"
        "break_counter break_counter break_counter";
        grid-template-rows: 2fr repeat(5, 1fr);
        grid-template-columns: repeat(3, 1fr);
        
}

.pomodoro-task {
    grid-area: task;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba($clock-font-colour,0.8);
    transition: all 1s ease;

    h2{
        &:focus {
            outline: 0px solid;
        }
    }

    .fa-edit {
        opacity: 1;
        transform: translateX(0);
        font-size: 0.75rem;
        padding: 1rem;
        transition: all 1s ease;
    }
}

.pomodoro-clock-face {
    display: flex;
    grid-area: clockface;
    color: $clock-font-colour;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

.pomodoro-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: buttons;
}

.left-controls, .right-controls {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    h3 {
        padding-bottom: 2vh;
    }
}

.left-controls {
    grid-area: lcontrols;
}

.right-controls {
    grid-area: rcontrols;
}

.btn {

    cursor: pointer;
    width: 100px;
    height: 50px;
    background: linear-gradient(180deg,
    rgba($tomato-highlight, $alpha: 1) 20%,
    darken(rgba($primary-colour, $alpha: 0.8),5) 100%
    );
    border: 1px solid $tomato-highlight;
    color: $tomato-green-highlight;
    font-weight: bold;
    
}

.controls .btn {
    font-size: 1.25rem;
}

#worktime, #breaktime {
    padding: 1vh;
}

.break_counter {
    grid-area: break_counter;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 0.5rem 0.2rem;
    float: left;
    border: 1px solid $tomato-green-highlight;
}

.circle-active {
    background-color: $break-counter;
}

.pomodoro-method {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 10vh;
    
    .modal {
        transform: scale(0.9);
        background: blanchedalmond;
        color: $primary-colour;
        z-index: 3;
        transition: all 0.1s ease-in;

        h3 {
            padding: 1rem;
        }

        ul, cite {
            padding: 1rem 2rem;
        }

    }

    .backdrop {
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        display: block;
        position: fixed;
        background: rgba(black, 0.75);
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }

    cite {
        display: block;
        padding-top: 1rem;
        font-weight: lighter;
        font-style: italic;

        a {
            text-decoration: none;
            color: lighten($primary-colour, $amount: 10);

            &:hover {
                color: $tomato-green-highlight;
            }
        }
    }
}

#modal-toggle {
    cursor: pointer;
    text-align: center;
}

.show {
    visibility: visible;
    opacity: 1;

    &>.modal{
        transform: scale(1);
    }
}

.tomato-back {
    fill: $primary-colour;
    // stroke: black;
    stroke-opacity: 0.2;
}

.tomato-front {
    fill: $tomato-highlight;
}

.tomato-green {
    fill: $tomato-green;
}

.tomato-green-highlight {
    fill: $tomato-green-highlight;
}

@import 'mobile';